item {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.item>span {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item>span>a {
    color: inherit;
}

.button {
    background: transparent;
    border: 1px solid #171212;
    padding: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.button:hover {
    background: #171212;
    color: #ffffff;
}

.buttonSmall {
    padding: 5px;
}

.buttonLarge {
    padding: 10px;
}